<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaos.book">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.AboutActivity"></activity>
        <activity android:name=".view.activity.RecommendActivity" />
        <activity
            android:name=".view.activity.IntroActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.activity.ReadActivity" />
        <activity android:name=".catalog.CatalogActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".view.activity.FullscreenActivity" />
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>